* {
    margin: 0 auto;
}
body {
    background-color: white;
    margin: 0 auto;
}
#main-page {
    display: inline-flex;
}
#main-filler {
    width: 20vw;
}

/* NavBar */
#nav {
    width: 80vw;
    display: inline-flex;
    border-right: solid;
    border-color: gray;
    height: 6vh;
}
#logo {
    width: 5vw;
    height: 6vh;
    border-right: solid;
    border-color: gray;
    margin-left: 10vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-right: 0;
}
#ico {
    width: 3vw;
    height: 3vh;
    background-color: pink;
}
#name {
    font-size: 3vh;
    margin-top: .5vh;
    margin-left: 3vw;
}
#menu-btn {
    margin-left: 35vw;
    border-left: solid;
    border-color: gray;
    border-width: 2px;
    margin-right: 3vw;
}

/* Project Carousel dispaly*/
#carousel {
    width: 80vw;
    height: 40vh;
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
    border-color: gray;
}
#img-container {
    display: inline-flex;
}
#proj-img {
    background-image: url('GearBoximg1.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 60vw;
}
.carousel-filler {
    width: 10vw;
}
/* Carousel Controller */
#carousel-bar {
    display: inline-flex;
    width: 80vw;
    height: 5vh;
    border-top: solid;
    border-right: solid;
    border-color: red;
}
#carousel-controller {
    display: inline-flex;
}
#project-title {
    font-size: 2vh;
}
.toggle {
    font-size: 1.5vh;
}

/* Statement */
#statement {
    display: inline-flex;
    height: 30vh;
    width: 80vw;
    border-bottom: solid;
    border-right: solid;
    border-color: green;
}
.filler {
    width: 10vw;
}
#statement_text {
    width: 60vw;
}



/* Filler */

/* leave contact info */
.bottom {
    background-color: black;
}

/* foot */
